Flask
Flask-SQLAlchemy
Flask-WTF
mysqlclient
python-dotenv  
pymysql           
cryptography
Werkzeug
pandas
Flask
Flask-SQLAlchemy
mysqlclient
python-dotenv  
pymysql           
cryptography
Werkzeug
secure-smtplib
matplotlib
nltk
python-dateutil