<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Hospital Details</title>
  </head>
  <body>
    <form
      action="{{ url_for('manage_hospital.add_new_hospital') }}"
      method="POST"
    >
      <h2>Hospital Details</h2>
      <label for="hospital_name">Hospital Name:</label>
      <input type="text" name="hospital_name" /><br />

      <label for="hospital_address">Hospital Address:</label>
      <input type="text" name="hospital_address" /><br />

      <label for="city">City:</label>
      <input type="text" name="city" /><br />

      <label for="state">State:</label>
      <input type="text" name="state" /><br />

      <label for="country">Country:</label>
      <input type="text" name="country" /><br />

      <label for="pincode">Pincode:</label>
      <input type="text" name="pincode" /><br />

      <label for="branch">Branch:</label>
      <input type="text" name="branch" /><br />

      <label for="landmark">Landmark:</label>
      <input type="text" name="landmark" /><br />

      <button type="submit">Add Hospital</button>
    </form>

    <a href="{{ url_for('admin.render_main_admin_page') }}">Back To Dashboard</a
    ><br />
    <a href="{{ url_for('admin.render_hospital_details_admin') }}"
      >Back To Hospital List</a
    >
  </body>
</html>
