<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Details</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <div style="margin: 20px">
      <h1>Hospital Details</h1>
      <table id="hospitalTable" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          {% for hospital in hospitals %}
          <tr>
            <td>{{ hospital.NAME }}</td>
            <td>{{ hospital.ADDRESS }}</td>
            <td>{{ hospital["Contact Number"] }}</td>
            <td>
              <a href="{{ hospital.Website }}" target="_blank">Visit Website</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script>
      // Initialize DataTables
      $(document).ready(function () {
        $("#hospitalTable").DataTable({
          pageLength: 10,
        });
      });
    </script>
  </body>
</html>
