<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Password</title>
  </head>
  <body>
    <h2>Set Your New Password</h2>
    <form action="{{ url_for('add_donor.new_password_donor') }}" method="POST">
      <label for="Password">Enter the Password :</label>
      <input type="password" id="password" name="password" required /><br />

      <label for="Confirm Password">Enter the Confirm Password :</label>
      <input
        type="password"
        id="confirmpassword"
        name="confirmpassword"
        required
      /><br />

      <input type="hidden" name="email" value="{{ email }}" />

      <button type="submit">Reset Password</button>
    </form>
  </body>
</html>
